Django
djangorestframework
psycopg2-binary
drf-spectacular
Pillow
guardrails-ai
pydantic
typing
openai
rich
python-decouple
langchain
chromadb
tiktoken
tvdb_v4_official
pandas
django-cors-headers
Pillow
requests
pinecone-client
gunicorn
