Django==4.2.6
djangorestframework==3.14.0
psycopg2-binary==2.9.9
drf-spectacular==0.26.5
Pillow==10.1.0
pydantic==2.4.2
typing==3.7.4.3
rich==13.6.0
python-decouple==3.8
tiktoken==0.5.1
pandas==2.1.2
django-cors-headers==4.3.0
Pillow==10.1.0
requests==2.31.0
pinecone-client==2.2.4
gunicorn==21.2.0
python-dotenv==1.0.0
azure-cosmos==4.5.1
pytest==7.4.3
pytest-mock==3.12.0
tvdb-v4-official==1.1.0
google-api-python-client==2.105.0
git+https://github.com/internetarchive/openlibrary-client.git
django-extensions==3.2.3
model-mommy==2.0.0
celery==5.3.6
django-celery-beat==2.5.0
django-celery-results==2.5.1
redis==5.0.1
channels==4.0.0
channels-redis==4.1.0
websockets==12.0